<<<<<<< HEAD
﻿@using GameWebDemo.Models
@{
    List<Msg> list = ViewBag.list;
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="clink">
        <img src="~/img/icon_home2.png"/>
        @Html.ActionLink("首页", "Index", "Home")
    </div>
    <div id="list">
        @foreach (var item in list)
        {
            <dl>
                <dt>
                    <img src="@item.MsgPhoto" />
                </dt>
                <dd id="title">
                    <a href="#">
                        @item.MsgTitle
                    </a>
                </dd>
                <dd id="txt">
                    <a href="#">
                        @item.MsgText
                    </a>
                </dd>
                <dd id="type">
                    <img src="~/img/icon_author.png" /><span>@item.Account.AccountName</span>
                    <img src="~/img/icon_clock.png" /><span>@item.MsgTime</span>
                    <img src="~/img/icon_hit.png" /><span>@item.MsgHit</span>
                </dd>
            </dl>
        }
        <div style="clear:both"></div>
=======
﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
>>>>>>> 4aea17a9135a33304ff4e47dd424853f0526a140
    </div>
</div>