@model List<GameWebDemo.Models.Msg>
@using GameWebDemo.Models

@{
    List<Msg> list = ViewBag.list;
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="clink">
        <img src="~/img/icon_home2.png" />
        @Html.ActionLink("首页", "Index", "Home")>>
    </div>
    <div id="list">
        @foreach (var item in list)
        {
            <dl>
                <dt>
                    <a href="/Msg/Detail?Msg_id=@item.MsgID">
                        <img src="@item.MsgPhoto" />
                    </a>
                </dt>
                <dd id="title">
                    <a href="/Msg/Detail?Msg_id=@item.MsgID">
                        @item.MsgTitle
                    </a>
                </dd>
                <dd id="txt">
                    <a href="/Msg/Detail?Msg_id=@item.MsgID">
                        @item.MsgText
                    </a>
                </dd>
                <dd id="type">
                    <img src="~/img/icon_author.png" /><span>@item.Account.AccountName</span>
                    <img src="~/img/icon_clock.png" /><span>@item.MsgTime</span>
                    <img src="~/img/icon_hit.png" /><span>@item.MsgHit</span>
                </dd>
            </dl>
        }
        <div style="clear:both"></div>
    </div>
</div>